---
import Layout from '../layouts/Layout.astro';
import { Button } from "@/components/ui/button"
import Dropdown from '@/components/dropdown'
import '@/styles/globals.css'
---

<Layout title="Welcome to Astro.">
	<main>
		<Button client:load>Hello World</Button>
		<Dropdown client:load/>
	</main>
</Layout>