---
import Layout from '../layouts/Layout.astro';
import { Button } from "@/components/ui/button"
import '@/styles/globals.css'
---

<Layout title="Sobre">
	<main>
		<Button>Sobre</Button>
	</main>
</Layout>